-#  This file is app/views/projects/index.html.haml
%tbody
  %button{:onclick => "alert('Hello')", :type => "button"} login
%button{:onclick => "alert('Hello')", :type => "button"} sign-up
%h1 Welcome to Playlist Curater
%h2 Let's Get Started



