<!-- app/views/artists/show.html.erb -->

<div id="header">
    <button onclick="alert('Hello')" type="button">login</button>
    <button onclick="alert('Hello')" type="button">sign-up</button>
</div>
<div id="content">
  <h1><%= @artist.name %></h1>
  <table id="playlist">
    <thead>
      <tr>

        <th>Title</th>
        <th>Album</th>
      </tr>
    </thead>

	<tbody>
	  <% @artist.albums(country: 'US').each do |album| %>
	    <% album.tracks.each do |track| %>
	      <tr>
	        <td>
	          <%= track.name %>
	        </td>
	        <td>
	          <%= album.name %>
	        </td>
	      </tr>
	    <% end %>
	  <% end %>
	</tbody>

  </table> 
</div>
