-#  This file is app/views/projects/index.html.haml
%body
  #header
    %button{:onclick => "alert('Hello')", :type => "button"} login
    %button{:onclick => "alert('Hello')", :type => "button"} sign-up
  #content
    %table#playlist
      %thead
        %tr
          %th{:class=>("hilite" if @sort_column == "title")}= link_to "Name", projects_path(:sort_by=>"title"), :id=> "title_header"
          %th{:class=>("hilite" if @sort_column == "due_date")}= link_to "Artist", projects_path(:sort_by=>"due_date"), :id=> "due_date_header"
      %tbody
        - @songs.each do |song|
          %tr
            %td= song.name
            %td= song.artists[0].name
