-#  This file is app/views/projects/index.html.haml
%body
  #header
    %button{:onclick => "alert('Hello')", :type => "button"} login
    %button{:onclick => "alert('Hello')", :type => "button"} sign-up
  #main
    %h1.title Welcome to Playlist Curator
    %h2 Let's Get Started
