-#  This file is app/views/projects/index.html.haml
%body
  #header
    %button{:onclick => "alert('Hello')", :type => "button"} login
    %button{:onclick => "alert('Hello')", :type => "button"} sign-up
  #content
    %h1.title Welcome to Playlist Curator
    #playlist-pick
      %h2 Let's Get Started
      %label{:for => "filter"} How do you want to base this playlist?
      %select#filter{:name => "filter"}
        %option{:value => ""} Filter by...
        %option{:value => "emotion"} Emotion
        %option{:value => "artist"} Artist
        %option{:value => "genre"} Genre
        %option{:value => "activity"} Activity
      %input#select-playlist{:disabled => "", :type => "text"}/
      %input#get-playlist{:type => "button", :value => "Generate!"}/
    #dialog Playlist generated!
