
<div class="login">
    <button onclick="alert('Hello')" type="button">login</button>
    <button onclick="alert('Hello')" type="button">sign-up</button>
</div>

<div class="header">
 Playlist Curator
</div>

